@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="jumbotron">
    <h1>Награды и пользователи</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Привет!</h2>
        <p>
            Награды и пользователи - приложение, в котором
            используется  Entity Framework Core 1.0 в рамках
            ASP.NET Core MVC.
        </p>
    </div>
    <!--
    <div class="col-md-4">
        <h2>Скачать</h2>
        <p>Проект пока не доступен для скачивания.</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnet/data/ef-mvc/intro/samples/cu-final">See project source code &raquo;</a></p>
    </div>-->
</div>