@model MyFirstCoreApp.Models.Rewarding

@{
    ViewData["Title"] = "Данные";
}

<h2>Данные</h2>

<div>
    <h4>Данные выбранного награждения</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>
<div>
    <a asp-action="Index">Вернуться к таблице</a>
</div>
